{% extends "base.html" %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        {% endfor %}
    {% endif %}

    {% if tasks %}
        <table class="table table-bordred">
        {% for task in tasks %}
            {% if task.completed %}
            <tr class="table-secondary">
                <td class="crossline"><a href="{% url 'edit' task.id %}">{{task.item}}</a></td>
                <td><center><a href="{% url 'uncross' task.id %}">Cross off</a></center></td> 
                <td><center><a href="{% url 'delete' task.id %}"> Delete</a></center></></td>
            </tr>
            {% else %}
            <tr>
                <td><a href="{% url 'edit' task.id %}">{{task.item}}</a></td>
                <td><center><a href="{% url 'cross_off' task.id %}">Uncross</a></center></td>
                <td><center><a href="{% url 'delete' task.id %}">Delete</a></center></td>
            </tr>    
            {% endif %}
        {% endfor %}
        </table>
    {% endif %}
{% endblock %}
